@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "custom-monaco", monospace;
  font-weight: 500;
  background-color: #000000;
  color: white;
  height: 100vh;
}

body {
  cursor: none;
}

.cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 9999;
}

@font-face {
  font-family: "custom-monaco";
  src: url("../public/Monaco.ttf");
}

.no-cursor .cursor {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid green;
  background-color: transparent;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
* {
  overflow-y: auto;
}

::selection {
  background-color: #0eeb0e;
  color: #000000;
}

.whitespace-nowrap {
  white-space: nowrap;
}
.overflow-hidden {
  overflow: hidden;
}
.animate-scroll {
  animation: scroll 20s linear infinite;
}
