@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Monaco", monospace;
  font-weight: 400;
  background-color: #000000;
  color: white;
  height: 100vh;
}

body {
  cursor: none;
}

.goudy {
  font-family: "Goudy Bookletter 1911";
  font-weight: 400;
  color: white;
}

.fanwood {
  font-family: "Fanwood Text Italic";
  font-weight: 400;
}

.blackout {
  font-family: "Blackout";
}

.ostrichsans {
  font-family: "Ostrich Sans Black";
}

.raleway {
  font-family: "Raleway Bold";
}

.theneue {
  font-family: "The Neue";
}

@font-face {
  font-family: "The Neue";
  src: url("../public/TheNeue-Black.ttf");
}

@font-face {
  font-family: "Raleway Bold";
  src: url("../public/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Ostrich Sans Black";
  src: url("../public/ostrichsansblack.ttf");
}

@font-face {
  font-family: "Fanwood Text Italic";
  src: url("../public/fanwoodtextitalic.ttf");
}

@font-face {
  font-family: "Blackout";
  src: url("../public/blackout.ttf");
}

.cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 9999;
}

.no-cursor .cursor {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid green;
  background-color: transparent;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
* {
  overflow-y: auto;
}

::selection {
  background-color: #0eeb0e;
  color: #000000;
}

.whitespace-nowrap {
  white-space: nowrap;
}
.overflow-hidden {
  overflow: hidden;
}
.animate-scroll {
  animation: scroll 20s linear infinite;
}
