.blogsCard {
  background-color: #121117;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  aspect-ratio: 2/1;
  flex: 1;
}

.blogsText {
  font-size: 36px;
  background: linear-gradient(to bottom right, #ffa8a8, #fcff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: none;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .blogsText {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .blogsText {
    font-size: 28px;
  }
}
