.blogsCard {
  width: 427px;
  height: 128px;
  background-color: #121117;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.blogsText {
  font-size: 48px;
  color: #ffffff;
}
