.blogsCard {
  background-color: #121117;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  aspect-ratio: 2/1;
  flex: 1;
}

.blogsText {
  font-size: 36px;
  background: linear-gradient(to bottom right, #ffa8a8, #fcff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: none;
}
