.education-card {
  max-width: 100vh;
  max-height: 100vh;
  aspect-ratio: 1.22/1;
  background-color: #121117;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.seal-container {
  max-width: 100vh;
  max-height: 100vh;
}
