.education-card {
  background-color: #121117;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* overflow-y: auto; */
  aspect-ratio: 3/2;
  flex: 1;
}

.seal-container {
  max-width: 10em;
  animation: spin infinite 5s linear;
}

@keyframes spin {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

@media (max-width: 1024px) {
  .seal-container {
    max-width: 3em;
  }
}
