.frontendEngineerCard {
  background-color: #121117;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  aspect-ratio: 2/1;
}

.frontendEngineerText {
  font-size: 36px;
  font-family: "American Typewriter", serif;
  background: linear-gradient(to bottom right, #1c5e71, #59a9da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: none;
  text-align: center;
}
