.frontendEngineerCard {
  max-width: 100vh;
  max-height: 100vh;
  aspect-ratio: 1.15/1;
  background-color: #121117;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.frontendEngineerText {
  font-size: 36px;
  font-family: "American Typewriter", serif;
  color: #ffffff;
  text-align: center;
}
