.githubCard {
  background-color: #121117;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  overflow-y: auto;
  padding: 10px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  animation: spin infinite 5s linear;
}

@keyframes spin {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}
