.gpaCard {
  background-color: #121117;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  aspect-ratio: 5/1;
}

.gpaText {
  font-size: 48px;
  background: linear-gradient(to right, #694e7e, #0f3a71);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: none;
}

@media (max-width: 1024px) {
  .gpaText {
    font-size: 28px;
  }
}
