.container {
  max-width: 100vw;
  padding-top: 10em;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
  flex: 1;
  margin-bottom: 10em;
}

.row {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 5px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  gap: 3px;
  margin: 0;
  overflow-y: auto;
}

@media only screen and (max-width: 1024px) {
  .container,
  .row,
  .column {
    font-size: 28px;
  }
}

@media only screen and (max-width: 768px) {
  .row {
    flex-wrap: wrap;
  }

  .column {
    flex-basis: 100%;
  }

  .container,
  .row,
  .column {
    font-size: 28px;
  }
}
