body {
  background: #000;
}

.sweInternCard {
  background-color: #121117;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  aspect-ratio: 3/2;
  margin: 0;
  flex: 1;
}

.sweInternText {
  font-weight: 300;
  font-size: 36px;
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
  background: linear-gradient(to right, #a78a5b 20%, #667cfe 40%, #a78a5b 60%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@media (max-width: 1024px) {
  .sweInternText {
    font-size: 28px;
  }
}
