.sweInternCard {
  background: linear-gradient(to right, #f6cfbe, #6c9de2);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  aspect-ratio: 3/2;
  margin: 0;
  flex: 1;
}

.sweInternText {
  font-size: 36px;
  color: #ffffff;
}
