$pathCount: 4;

.curveWrap {
  opacity: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(0deg);
  will-change: transform;
  z-index: 0;

  svg {
    width: 100%;
    height: 100%;
  }

  .curve {
    stroke-linecap: round;
    stroke-opacity: 0;

    path {
      transform-origin: center;
    }

    @for $i from 1 through $pathCount {
      $randomNumber: random(40) + 10;

      & path:nth-child(#{$i}) {
        stroke-width: $randomNumber;
        animation: curve 35s linear $i * 1.6s infinite;
      }

      $colors: goldenrod, cornflowerBlue, GreenYellow, lightblue, darkgreen,
        olive;

      @for $i from 1 through length($colors) {
        & path:nth-child(#{length($colors)}n + #{$i}) {
          stroke: nth($colors, $i);
        }
      }
    }
  }

  @keyframes curve {
    50% {
      transform: rotateX(360deg) scaleY(1) skewY(8deg);
      stroke-opacity: 1;
    }
  }
}

html,
body {
  height: 100vh;
}

body {
  background: #000000;
  background-repeat: no-repeat;
}

.header-container {
  position: relative;
  z-index: 10; // Ensure it's above the animation
}
