.numberCard {
  background-color: #121117;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* overflow-y: auto; */
  aspect-ratio: 3/1;
}

.numberText {
  font-size: 48px;
  background: linear-gradient(to bottom right, #a62c3d, #7924f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: none;
}

@media (max-width: 1024px) {
  .numberText {
    font-size: 28px;
  }
}
