.openSpotNotifierCard {
  max-width: 100vh;
  max-height: 100vh;
  aspect-ratio: 2.31/1;
  background-color: #121117;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.openSpotNotifierText {
  font-size: 36px;
  color: #ffffff;
  text-align: center;
}
