.openSpotNotifierCard {
  background-color: #121117;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  aspect-ratio: 2/1;
  flex: 1;
}

.openSpotNotifierText {
  font-size: 36px;
  background: linear-gradient(to bottom right, #65aca5, #f0f1fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: none;
  text-align: center;
}
