@font-face {
  font-family: "Veracruz Italic";
  src: url("../public/fonts/veracruzitalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.pjsub {
  font-family: Veracruz Italic;
}

.srcbtn {
  border: none;
  margin-bottom: 1rem;
  text-wrap: nowrap;
}
