.sushiStrollCard {
  max-width: 100vh;
  max-height: 100vh;
  aspect-ratio: 7.12/1;
  background: linear-gradient(to right, #5c7f4c, #a7e589);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sushiStrollText {
  font-size: 36px;
  font-family: "Nuku Nuku", sans-serif;
  color: #ffffff;
}
