.sushiStrollCard {
  background: linear-gradient(to right, #5c7f4c, #a7e589);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  aspect-ratio: 7/1;
}

.sushiStrollText {
  font-size: 36px;
  font-family: "Nuku Nuku", sans-serif;
  color: #ffffff;
}

@font-face {
  font-family: "Nuku Nuku";
  src: url(../public/nuku.ttf);
}
