.taCard {
  background-color: #121117;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  overflow-y: auto;
  aspect-ratio: 2/1;
}

.taText {
  font-size: 36px;
  background: linear-gradient(to bottom right, #ad5f09, #d60bcc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: none;
  padding: 20px;
  text-align: center;
}
