.taCard {
  background-color: #121117;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  aspect-ratio: 2/1;
}

.taText {
  font-size: 36px;
  background: linear-gradient(to right, #ad5f09 20%, #d60bcc 40%, #ad5f09 60%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  padding: 20px;
  text-align: center;
  animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@media (max-width: 1024px) {
  .taText {
    font-size: 28px;
  }
}
