.taCard {
  background-color: #121117;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  aspect-ratio: 2/1;
}

.taText {
  font-size: x-large;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}
